.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%)
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:90vw;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}
.search-bar{
  width: 100%;
  border: none;
  padding: 10px;
}
.search-button{
  background: lightcoral;
  color: white;
  border: none;
  padding:10px;
  
}
.search-button:hover{
  background-color: antiquewhite;
  color: lightcoral;
}
.diet-filter{
  width: 100%;
  display:flex;
  flex-flow: row wrap ;
  justify-content: space-around;
  background:lightcoral;
  border: 5px black;
 
}

.checkbox{
 
  
  color:aliceblue;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


a{
  text-decoration: none;
  color:black;
}